<apex:page id="ContactCompliance" standardController="Contact" extensions="ContactComplianceExt" showHeader="false" standardStylesheets="false" doctype="html-5.0">
    <link href="{!URLFOR($Resource.bootstrap335, 'bootstrap-3.3.5-dist/css/bootstrap.min.css')}" rel="stylesheet" media="screen"/>

    <div class="container">
        <apex:form >
            <apex:actionFunction name="changeDocumentListActionFunction" action="{!changeDocumentList}" reRender="docList">
                <apex:param name="p1" assignto="{!complianceName}" value=""/>
            </apex:actionFunction>
        </apex:form>

        <!-- Compliance button group -->
        <apex:outputPanel id="complianceList" styleClass="col-sm-6">
            <apex:repeat value="{!complianceList}" var="c">
                <div class="col-sm-4">
                    <p><button onclick="changeDocumentListActionFunction('{!c.name}')" class="btn btn-block {!c.color}">{!c.name}</button></p>
                </div>
            </apex:repeat> 
        </apex:outputPanel>

        <apex:outputPanel id="docList" styleClass="col-sm-6">
            <apex:outputPanel rendered="{!displayDocList.size != 0}">
                <h4>Documents</h4>
                <apex:repeat value="{!displayDocList}" var="md">
                    <div class="col-lg-6" >
                        <span class="label {!md.color}">{!md.name}</span>
                    </div>
                </apex:repeat>
            </apex:outputPanel>
        </apex:outputPanel>
    </div>
</apex:page>